package ${package};

#foreach($import in $importList)
import $import;
#end

/**
 * Created by ${authors} on ${createDate}.
 */
public class ${className} {
    private final static String URL = "${url}";
    
#foreach($methodName in $methodMap.keySet())
#set($paramMap = $!methodMap.get($methodName))
#if($methodName != "success")
    @Test
    public void $methodName(){
       post(URL, "$methodName").then().log().all().statusCode($!paramMap.get("status")).body("error",equalTo("$!paramMap.get("error_code")"));
    }
    
#end
#end
    @BeforeClass
    public void init(){
    
    }
    
    @AfterClass
    public void clean(){
    
    }
    
}